<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>여행 계획 API - 메인</title>

        <link rel="stylesheet" href="static/css/bootstrap.css?5">

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">


        <script src="http://bootstrapk.com/assets/js/ie-emuation-modes-warning.js"></script>
    </head>

    <body>
        <nav class="navbar navbar-dark  navbar-expand-lg p-0 m-0" style="background-color:black">
            <div class="container">

                <a class="navbar-brand" style="font-size:1.5em" href="/">여행 계획 API</a>

                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false" aria-controls="myNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse ml-auto" id="myNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" style="font-size:1em" href="./api-result">API 결과 확인</a></li>
                        <li class="nav-item"><a class="nav-link" style="font-size:1em" href="./api-documentation">API 명세</a></li>
                    </ul>
                </div>

            </div>
        </nav>

        <div class="m-0 bg">
            <div class="container-fluid m-0 align-items-center justify-content-center" style="display:flex; weight:100%; height:100%; opacity: 1; background-color:rgba(0,0,0,0.5);">
                <div class="row">
                    <div class="col-12 text-center">
                        <h3 class="card-title pb-4 text-white">여행 계획 API</h3>
                        <p class="card-text pb-2 text-white">여행동안 머물 기간, 여행 시작 시각, 여행 종료 시각을 입력 받으면 입력한 기간 내에 여행 일정표를 출력해주는 API 입니다.</p>
                        <p class="card-text  pb-4 text-white">사용된 API는 충남 관광 명소 API, 충남 음식점 API, 네이버 driver API가 사용되었습니다.</p>
                        <button type="button" class="btn btn-primary" onclick="location.href='./api-result'">API 결과 확인</button>
                        <button type="button" class="btn btn-primary" onclick="location.href='./api-documentation'">API 명세</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Footer -->
        <footer class="py-3 bg-dark">
            <div class="container">
              <p class="m-0 text-center text-white">Copyright &copy; 2020.11.04</p>
            </div>
            <!-- /.container -->
        </footer>

    <!-- Add jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>


    <!-- Add JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>


    </body>
</html>